.forecast {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

*/ * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montseratt', sans-serif;
    background-image: url('./picture/fav.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.currentweather {
    display: inline-block;
    margin: 20px;
    border: 2px solid rgb(85, 85, 85);
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    padding: 15px;
}

.search, .fav {
    margin-top: 10px;
    color: rgb(241, 241, 241);
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 16px;
    padding: 5px 10px;
    font-weight: 400;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.9);
    text-align: center;
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(54, 118, 190);
}

.fav {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.search-box {
    margin: 0 0 5px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    text-align: center;
    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 1);
}

.location-box .location {
    color: #FFF;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    color: #FFF;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.days {
    width: 100%;
    margin: 20px;
    border: 2px solid rgb(85, 85, 85);
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.3);
}

.forecast-temp {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 15px 25px;
    color: #FFF;
    font-size: 19px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.forecast-date {
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.forecast-weather {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(69, 69, 129, 0.5);
}

@media only screen and (max-width: 550px) {
    .forecast {
        display: flex;
        flex-direction: column;
        width: 250px;
        justify-content: center;
        align-items: center;
    }
    .days {
        width: 100%;
        margin: 20px;
        border: 2px solid rgb(85, 85, 85);
        padding: 15px;
        border-radius: 20px;
        background-color: rgba(27, 27, 27, 0.3);
    }
}